.botonsubir{
	margin-left: 20px;
}

.boton1{
	padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 30px;
}
.asidederecha{
	margin-top: 600px;
    margin-right: 45px;
}


.h31{
	padding-left: 50px;
}

.centrarvideo{
	margin-left: 100px;
}

.centrarboton{
	text-align: center;
}

.colorjumbotron{
	background-color: #72CB95;
}



